body {
  background-color: black;
}

.menu-bar {
  width: 100%;
  max-width: 1300px;
  margin: 0% auto;
}

.poppo{
  font-family:sans-serif;
  font-size: xx-large;
  color:black;
  padding: 10px;
  border-radius: 50px;
  text-decoration: underline;


}

.gaming{
  font-family: cursive;
  font-size: x-large;
  color:#ee122a;
  margin-right: 30px;
  background: black;
  padding: 10px;
  border-radius: 20px;
  

}

nav {
  background: #ee122a;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-left: 15px;
  display: flex;
}

nav a {
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #fff;
}

nav a:hover {
  background-color: black;
}

a.yt {
  background: url(images/ytBn.png) no-repeat center;
  background-size: 100%;
}

.ins {
  background: url(images/264066759002212.png) no-repeat center;
  background-size: 100%;
}

.social a {
  text-indent: -10000px;
}

.social {
  flex: 1 1 0;
}

.social {
  max-width: 130px;
}

.ins {
  margin-right: 20px;
  width: 20px;
}

.yt {
  width: 20px;
}

ul {
  color: #fff;
  font-family: Arial;
}

ol {
  background: #fff;
  width: 12%;
  text-align: left;
}

.top {
  margin-top: -50px;
}

p {
  color: #fff;
  line-height: 1.4em;
  font-family: arial;
}

h1 {
  color: #fff;
  padding: 20px;
  font-size: 40px;
  background: #555;
  margin: 100px 0px;
  margin-bottom: 50px;
}

h2 {
  color: #fff;
  font-family: ariel;
  font-size: 25px;
  margin-top: 50px;
}

h4 {
  background: rgb(14, 231, 14);
  width: 100;
  color: #fff;
  font-size: x-large;
  clear: both;
}

h3 {
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: x-large;
  background: #ee122a;
}

.description p {
 line-height: 35px;
 padding: 20px;
 width: 75%;

  }

hr {
  width: 100%;
}

img {
 float: left;
}


/* mobile 

@media screen and (max-width: 1500px){
*/

/* Hitman 5 Absolution
*/

.hitman p {
  line-height: 35px;
  margin-top: 354px;
  margin-left: 410px;
}

.gameplay img {
  width: 200px;
  bottom: 100px;
  margin: 10px 30px;

  
}
