body {
  background-color: black;
  color: #fff;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 13px;
  padding-bottom: 12px;
  line-height: 22.1px;
  text-align: justify;
}

/*
p {
  color: #fff;
 display: block;
 font-family: Arial, sans-serif;
 font-size: 13px;
 padding-bottom: 12px;
 line-height: 22.1px;
 text-align: left;
}
*/

/*
.system-requirment {
  color: #fff;
 display: block;
 font-family: Arial, sans-serif;
 font-size: 13px;
 padding-bottom: 12px;
 text-align: left;
 line-height: 22.1px;
}
*/
#head {
  margin-top: 200px;
  
}

.menu-bar {
  width: 100%;
  max-width: 1300px;
  margin: 0% auto;
}


.poppo {
  font-family: sans-serif;
  font-size: xx-large;
  color: black;
  padding: 10px;
  border-radius: 50px;
  text-decoration: underline;
}

.gaming {
  font-family: cursive;
  font-size: x-large;
  color: #ee122a;
  margin-right: 30px;
  background: black;
  padding: 10px;
  border-radius: 20px;
}

nav {
  background: #ee122a;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-left: 15px;
  display: flex;
}



nav a {
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: #fff;
  float: right;
}





nav a:hover {
  color: black;
}

nav a:active{
  color:orange;
}


/*
nav a:visited{
  color: purple; 
}
*/
a.yt {
  background: url(https://clipart.info/images/ccovers/1590430652red-youtube-logo-png-xl.png)
    no-repeat center;
  background-size: 100%;
}

.ins {
  background: url(https://cdn141.picsart.com/264066759002212.png) no-repeat
    center;
  background-size: 100%;
}


.social a {
  text-indent: -10000px;
}

.ins {
  margin-right: 20px;
  width: 20px;
}

.yt {
  width: 20px;
  margin-right: 20px;
}



.social {
max-width: 80px;
margin: 0 auto;
display: flex;
flex: 1 1 0;
}

h1 {
  padding: 20px;
  font-size: 40px;
  background: #555;
  margin-bottom: 50px;
}

h2 {
  font-family: ariel;
  font-size: 25px;
  margin-top: 50px;
}

h4 {
  background: rgb(14, 231, 14);
  width: 100%;
  font-size: x-large;
}

h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: x-large;
  background: #ee122a;
  clear: both;
}

.cover{
  float: left;
  margin-right: 10px;
}

/* Hitman 5 Absolution 

.hitman p {
  line-height: 35px;
  margin-top: 354px;
  margin-left: 410px;
}*/

.gameplay img {
  width: 200px;
  margin: 10px 30px;
}

/* Footer Editing */


footer ul {
  list-style-type: none;
  padding: 0px;
}


footer a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #fff;
  padding-bottom: 12px;
  padding-right: 10px;
  display: block;
  line-height: 22.1px;
  width: 100%;
  text-align: center;
}

footer a:hover {
  color: blue;
}

/* Desktop responsive control */
@media screen and (min-width: 768px) {
 

  nav{
    display: flex;
    justify-content: space-between;
  }
  

  nav ul {
    display: flex;
   }

   .social{
    margin: 0;
    margin-right: 30px;
   }

    #head {
      margin-top: 150px;
      margin-bottom: 0;
      
    }
    
  
  

  footer {
    display: flex;
    justify-content: space-between;
  }

  footer ul {
    display: flex;
  }

  footer li {
    flex: 1 1 0;
  }

